<p id="notice"><%= notice %></p>

<h1>Listing Candidates for <%= @job.title %> vacancy.</h1>
<% if @job.seven_careers_candidates.exists? %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Resume</th>
    <th>Applied At</th>
    <th>Status</th>
    <th></th>

  </tr>
  </thead>

  <tbody>




  <% @job.seven_careers_candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.phone %></td>
        <td><%= link_to "Download Resume", candidate.resume.url %></td>
        <td><%= candidate.created_at %></td>
        <td>
          <%= form_for(candidate) do |status| %>
              <%= collection_select :candidate, :status_id, SevenCareers::CandidateStatus.all, :id, :name, {:include_blank => true, :selected => candidate.status_id}, {:onchange => 'this.form.submit();' }  %>
          <% end  %>

        </td>
        <td><%= link_to "Send Resume", candidate_send_resume_url(:id => candidate.id) %></td>




      </tr>
  <% end %>
  </tbody>
</table>

<% else %>
    No candidates applied fot this job.

<% end %>