<p id="notice"><%= notice %></p>

<h1>Listing Candidate Statuses</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidate_statuses.each do |candidate_status| %>
      <tr>
        <td><%= candidate_status.name %></td>
        <td><%= link_to 'Show', candidate_status %></td>
        <td><%= link_to 'Edit', edit_candidate_status_path(candidate_status) %></td>
        <td><%= link_to 'Destroy', candidate_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate status', new_candidate_status_path %>
