<%= form_for(@candidate, :html => {:multipart => true}) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= fields_for "candidate" do |candidate| %>
        Name <%= candidate.text_field :name %>
        Email <%= candidate.email_field :email %>
        Phone <%= candidate.phone_field :phone %>
        Resume <%= candidate.file_field :resume %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
